BondingDevice.owl
BondingDevice3.owl
BondingDevice3.owl.tbc

BondingDevice4.owl
BondingDevice4.owl.tbc
BondingDevice5.owl.tbc
Common/
Examples/
OWL-S/
README~
SIOC/
SKOS/
SPARQLMotion/
SPIN/
SWRL/
TBC/
Teamwork/
UISPIN/
VERSION
catalog-v001.xml
myPurchases.n3
myPurchases.n3.tbc
parentTest.owl

